/* document spacing and loading */
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
	font-family:"Futura", Helvetica, Arial, sans-serif !important;
	overflow-x:hidden;
	color:#fff;
}
body {
	padding:0;
	margin:0 auto;
	margin-top:3.9em;
	margin-bottom:3em;
	width:100%;
	overflow:hidden;
	background:#333;
}
body {
	height:100%;
}
body.events li.events a,
body.spfund li.spfund a,
body.about li.about a,
body.contact li.contact a {
	color:#444;
}
iframe {
	width:100%;
	height:50vh;
}
.fb-page {
	width:100% !important;
}
p {
	font-size:.8em;
	font-weight:300;
	line-height:1.5em;
	letter-spacing:.05em;
}
a {
	text-decoration:none;
	color:#ce3337;
	transition:all 0.4s;
}
p a,
ul.board li a {
	color:#ce3337 !important;
}
p a:hover,
ul.board li a:hover {
	color:#555 !important;
}
a:hover {
	color:#555;
	transition:all 0.4s;
}
.page {
	width:100%;
	max-width:700px;
	display:block;
	margin:0 auto;
}
footer {
	position:fixed;
	bottom:0;
	width:100%;
	background:#ccc;
	padding:.5em;
}
.gray {
	background:#666;
}
.black {
	background:black;
}
.white {
	background:white;
	color:#333 !important;
}
ul.eligible {
	-webkit-padding-start:1em;
}
ul.eligible li {
	font-size:.8em;
	font-weight:300;
	padding-bottom:.5em;
}
ul.board {
	list-style-type:none;
	-webkit-padding-start:0;
}
ul.board h5 {
	-webkit-margin-after:.75em;
	text-transform:uppercase;
}
ul.board li {
	font-size:.9em;
	padding-bottom:.5em;
}
.textbox.imgbox {
	padding:0 0 0 1em;
}
.imgbox h1 {
	padding-top:1em;
}
.navmobile {
	display:none;
}
.morepadding {
	padding:0 2em !important;
}
.memberpage a {
	display:block;
	text-align:center;
	font-size:.7em;
	margin-bottom:1em;
	color:#555;
}
.memberpage a:hover {
	color:#ce3337;
}
.memberpage a:hover img {
	border:1px solid #ce3337;
	transition:all 0.4s;
}
.memberpage > div > a > img {
	border:1px solid #555;
	margin-bottom:.5em;
	transition:all 0.4s;
}
.footercontent {
	width:100%;
	max-width:700px;
	display:block;
	margin:0 auto;
}
.footercontent p {
	width:50%;
	font-size:0.6em;
	color:#333;
	display:inline-block;
	font-weight:400;
}
.footercontent a {
	float:right;
	text-decoration:none;
	color:white;
	background:#CE3337;
	font-size:.9em;
	padding:.5em;
	padding-bottom:.3em;
	margin-top:0.1em;
	transition:all 0.3s;
}
.footercontent a:hover {
	background:#555;
	transition:all 0.3s;
}
a.invertedbutton {
	text-decoration:none;
	color:white;
	background:#555;
	font-size:.9em;
	padding:.5em;
	padding-bottom:.3em;
	margin-top:0.1em;
	transition:all 0.3s;
}
a.invertedbutton:hover {
	background:#ce3337;
	transition:all 0.3s;
}
.textbox {
	width:100%;
	padding:1em;
	border:2px solid #333;
	transition:all 0.3s;
}
.textbox a {
	color:#fff;
}
.textbox:hover {
	border:2px solid #666;
	transition:all 0.3s;
}
.nolink {
	cursor:default;
	border:2px solid #333;
}
.nolink:hover {
	border:2px solid #333;
}
.textbox h1 {
	text-transform:uppercase;
	font-size:1.5em;
	font-weight:500;
	-webkit-margin-before:0;
}
.textbox h5 {
	-webkit-margin-before:0;
	-webkit-margin-after:0em;
	font-size:.95em;
}
.light {
	font-weight:300;
}
img.max {
	width:100%;
	margin:0 auto;
	display:block;
}
img.constrained {
	max-width:120px;
	margin:0 auto;
}
.imgtext {
	position:relative;
	width:100%;
	transition:all 0.5s;
}
.imgtext a {
	color:#fff;
}
.imgtext img{
	border:2px solid #333;
	transition:all 0.3s;
}
.imgtext:hover img {
	border:2px solid #666;
	transition:all 0.3s;
}
.imgtext.nohover h3.center {
	cursor:default;
}
.imgtext.nohover:hover img {
	border:2px solid #333;
}
.imgtext h2.center {
	text-transform:uppercase;
	position:absolute;
	top:2em;
	left:0;
	width:100%;
	text-align:center;
	font-size:1.6em;
	font-weight:500;
}
.imgtext h3.center {
	text-transform:uppercase;
	position:absolute;
	top:3em;
	left:0;
	width:100%;
	text-align:center;
	font-size:1.25em;
	font-weight:500;
}
p.caption {
	color:#ccc;
	font-size:0.8em;
	text-align:center;
	line-height:1.5em;
	font-weight:400;
	margin-bottom:2em;
}
/* navigation */
.navbar {
	position:fixed; top:0; left:0; right:0;
	width:100%;
	background:#CE3337;
	padding:10px 50px 10px 50px;
	min-height:4em;
	z-index:100;
}
.nav_container {
	display:block;
	width:100%;
	max-width:900px;
	margin:0 auto;
	text-align:center;
}
ul.nav {
	width:100%;
	-webkit-margin-before: .4em;
	-webkit-margin-after: .5em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}
ul.nav li {
	list-style-type:none;
	display:inline-block;
	margin-right:2em;
}
ul.nav li:last-child {
	margin-right:0;
}
ul.nav li a {
	text-decoration:none;
	color:rgba(255,255,255,1);
	transition:all 0.3s;
	font-size:0.85em;
}
ul.nav li a:hover {
	color:rgba(255,255,255,0.4);
	transition:all 0.3s;
}
ul li.home {
	width:16em;
	margin:0 auto;
	margin-left:-8em;
}
ul li a img {
	width:8em;
	margin-top:-.75em;
	margin-bottom:-1em;
}
img.icons {
	width:3em;
	display:block;
	margin:0 auto;
	margin-top:2em;
}

/* form */
form {
	width:100%;
	padding:1em;
	background:#777;
	border-radius:.5em;
	clear:both;
}
form input,
form textarea {
	display:block;
	width:100%;
	outline:none;
	border:2px solid #333;
	background:#fff;
	font-size:1em;
	padding:.5em;
	margin-bottom:.75em;
	border-radius:.5em;
	font-family:"Futura", Helvetica, Arial, sans-serif !important;
	transition:all 0.3s;
}
form input:focus,
form textarea:focus {
	border:2px solid #ce3337;
	transition:all 0.3s;
}
textarea {
	resize:none;
	overflow:auto;
}
form button {
	float:right;
	color:white;
	background:#CE3337;
	font-size:1em;
	padding:.5em;
	padding-bottom:.3em;
	margin-top:0.1em;
	transition:all 0.3s;
	border-radius:.5em;
	border-style:none;
	cursor:pointer;
	font-family:"Futura", Helvetica, Arial, sans-serif !important;
}
form button:hover {
	background:#333;
}

form button:after {
	clear:both;
}

/* grid goes here */

[class*="col-"] {
    float: left;
    padding: 0px 3px 6px 3px;
}
.colnopad {
	padding:0;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.clear {
	clear:both;
}
.mobileonly {
	display:none;
}
.padright {
	padding-right:25px;
}
@media screen and (max-width:640px) {
	ul li.home {
		display:block;
		margin:0 auto;
		margin-bottom:1em;
	}
	body {
		margin-top:6em;
	}
}
@media screen and (max-width:500px) {
	.clearmobile {
		clear:both;
	}
	h2.topdrop {
		top:6em !important;
	}
	body {
		margin-top:3.5em;
		margin-bottom:;
	}
	.mobileonly {
		display:block;
	}
	.nomobile {
		display:none;
	}
	.donatebutton {
		z-index:105;
		color:#CE3337;
		background:white;
		text-decoration:none;
		font-size:1.25em;
		margin-top:18em;
		padding:.5em;
		padding-bottom:.3em;
	}
	.navmobile {
		display:block;
		position:fixed;
		z-index:90;
		top:0;
		left:0;
		width:100%;
		background:rgba(255,255,255,0.9);
	}
	.navmobile a img {
		width:20%;
		display:block;
		margin:0 auto;
		padding:.5em 0 .5em 0;
	}
	.col-1 {
		width:33.33%;
	}
	.col-2 {
		width:33.33%;
	}
	.col-3 {
		width:50%;
	}
	.col-4 {
		width:100%;
	}
	.col-5 {width: 100%;}
	.col-6 {width: 100%;}
	.col-7 {width: 100%;}
	.col-8 {width: 100%;}
	.col-9 {width: 100%;}
	.col-10 {width: 100%;}
	.col-11 {width: 100%;}
	.col-12 {width: 100%;}
	.col-third-s {
		width:33.333%;
	}
	.navbar {
		position:fixed; top:0; left:auto; right:-60%;
		width:60%;
		height:100vh;
		padding:1em;
		transition:all 0.4s;
	}
	.navbar.show {
		right:0%;
		transition:all 0.4s;
	}
	ul li.home {
		display:none !important;
	}
	ul.nav li {
		display:block;
		margin-right:0;
		margin-bottom:1em;
	}
	ul.nav li a {
		font-size:1.25em;
	}
	.underlay {
		position:fixed;
		top:0;
		right:-100%;
		background:black;
		width:100vw;
		height:100vh;
		opacity:0;
		transition:opacity 0.4s;
		z-index:95;
	}
	.underlay.show {
		right:0;
		opacity:0.5;
		transition:opacity 0.4s;
	}
	.hamburger_menu {
		position:fixed;
		top:15px;
		right:1em;
		transition:top 0.4s;
		width:30px;
		opacity:1;
		transition:all 0.3s;
		cursor:pointer;
	}
	footer {
		padding:0em;
	}
	.footercontent {
		text-align:center;
	}
	.footercontent p {
		width:100%;
		text-align:center;
		-webkit-margin-before:0;
		-webkit-margin-after:0;
	}
	.footercontent a {
		display:none;
	}
}	
@media screen and (max-width:340px) {
	.donatebutton {
		margin-top:12em;
	}
}

/* photo scroll */
/* Photo Banner */
.extra {
	text-transform:uppercase;
	font-size:1.5em;
	font-weight:500;
	-webkit-margin-before:0;
	margin:0.5em 0 0 0.5em;
	color:#000;
}
.container {
    width: 100%;
    overflow: hidden;
    margin: 0px auto;
    background: white;
}

.photobanner {
    height: 180px;
    width: 2970px;
	padding:25px 0 25px 0;
    font-size: 0;
}

.photobanner img {
	margin-right:10px;
	height: 125px;
	width: 125px;
	border:solid 1px transparent !important;
}

.photobanner img  {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
 
.photobanner img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
	border:solid 1px transparent !important;
 
    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
}


/*keyframe animations*/
.first {
    -webkit-animation: bannermove 30s linear infinite;
       -moz-animation: bannermove 30s linear infinite;
        -ms-animation: bannermove 30s linear infinite;
         -o-animation: bannermove 30s linear infinite;
            animation: bannermove 30s linear infinite;
}
 
@keyframes "bannermove" {
    0% {margin-left: 0px;}
    100% {margin-left: -2565px;}
}
 
@-moz-keyframes bannermove {
    0% {margin-left: 0px;}
    100% {margin-left: -1755px;}
}
 
@-webkit-keyframes "bannermove" {
    0% {margin-left: 0px;}
    100% {margin-left: -2565px;}
}
 
@-ms-keyframes "bannermove" {
    0% {margin-left: 0px;}
    100% {margin-left: -1755px;}
}
 
@-o-keyframes "bannermove" {
    0% {margin-left: 0px;}
    100% {margin-left: -1755px;}
}